{% extends 'index.html' %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Welcome to my website</h1>

<br>
<br>
<br>

<p style="font-size:2.5vw;padding-left:4vw;padding-right:4vw;">This is a very simple website to use please press scan and upload a picture of your skin lesion</p> <br><br>
<p style="font-size:2.5vw;padding-left:4vw;padding-right:4vw;">We will not save you information permanently and this website is only for initial use therefore not all results may be reliable</p>
{% endblock %}

