<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    	<!-- Bootstrap jS core-->
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"> </script>

	<!--Plugin JS------->

	<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Theme CSS -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://www.dafontfree.net/embed/c2Vnb2UtcHJpbnQtcmVndWxhciZkYXRhLzQ2L3MvNjE2ODYvc2Vnb2Vwci50dGY" rel="stylesheet" type="text/css"/>


      <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Skin Detection</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a id=Login class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Home</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a id="View" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Our Service</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a id="Create" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Skin Cancer Info</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a id="Pre" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"  href="/main">Scan</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

<link rel="shortcut icon" href="">

</head>
<body>

{% block body %}
<p>LLL</p>

{% endblock %}
</body>
</html>